/*
 * Suisse Intl is licensed — the woff2 files are gitignored and fetched via
 * `pnpm fonts` (scripts/fetch-fonts.sh). Here they load when the text asks
 * for them and swap in when they land. The site preloads them and links
 * `./fonts-optional.css` instead.
 */
@import './fonts-fallback.css';

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SuisseIntl-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SuisseIntl-Medium.woff2') format('woff2');
}
